.chat-main
  .main-header
    .main-header__left
      .main-header__left__group-name
        グループ名
      .main-header__left__members
        Member:
        ユーザー名
    .main-header__edit
      = link_to "#", class: "edit-btn" do
        Edit
  .messages
    .message
      .message__upper
        .message__upper__user-name
          ユーザー名
        .message__upper__date
          日付
      .message__lower-message
        メッセージ
  .form
    .form__input
      %input.form__input__box{placeholder: "type a message", type: "text"}
      %label.form__input__image
        = icon('fas', 'image')
        %input.form__input__image-btn{type: "file"}
    %input.form__submit{type: "submit", value: "Send"}